.metadataCell {
  display: flex;
  max-width: 240px;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.metadataTag {
  max-width: 112px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
